<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Jester Bot Control Panel</title>
    {{#each scripts}}
      <script type="text/javascript" src="{{this}}"></script>
    {{/each}}
    {{#each stylesheets}}
      <link rel="stylesheet" type="text/css" href="{{this}}">
    {{/each}}
</head>
<body>

    {{{body}}}

</body>
</html>
