body, html{
  margin: 0;
  padding: 0;
  font-family: Verdana, sans-serif;
  background-color: #f2f2f2;
  font-size: 9pt;
}
.NavBar{
  background-color: #000000;
  color: white;
  overflow: auto;
  height: 50px;
}
.Logo{
  float: left;
  padding: 15px 20px;
  line-height: 1.5rem;
  font-style: italic;
  font-size: 1.75em;
  color: #00cccc;
}
.NavButtonsList{
  float: left;
  overflow: auto;
  list-style: none;
  margin: 0;
  padding: 10px 0px;
}
.NavButton{
  float: left;
  margin-right: 10px;
}
.NavButton span,
.NavButton a{
  padding: 2px 10px;
  display: block;
  border: 3px solid;
  border-radius: 6px;
  line-height: 1.5rem;
  font-weight: bold;
}
.NavButton span{
  background-color: #00cccc;
  border-color: #00cccc;
  color: rgba(0,0,0,0.66);
}
.NavButton a{
  background-color: #3D4040;
  border-color: #3D4040;
  color: rgba(255,255,255,0.75);
  text-decoration: none;
}
.NavButton a:hover{
  background-color: #7D8080;
  border-color: #7D8080;
  color: white;
}
.BotStatus{
  float:right;
  padding: 10px 10px;
}
.EventTicker {
  height: 25px;
  background-color: #333333;
  color: white;
  line-height: 25px;
  padding-left: 10px;
  overflow-y: auto;
}
.LoginButton,
.LogoutButton,
.ConnectButton,
.DisconnectButton{
  display: block;
  padding: 2px 10px;
  background-color: #4DC47D;
  color: rgba(0,0,0,0.66);
  border: 3px solid #4DC47D;
  border-radius: 6px;
  font-weight: bold;
  line-height: 1.5rem;
  text-decoration: none;
  cursor: pointer;
}
.LoginButton:hover,
.LogoutButton:hover,
.ConnectButton:hover,
.DisconnectButton:hover{
  color: white;
}
.BotUsername{
  background-color: #3D4040;
  color: #4DC47D;
  text-decoration: none;
  padding: 2px 10px;
  border: 3px solid #3D4040;
  border-radius: 6px;
  line-height: 1.5rem;
  font-weight: bold;
  margin-right: 10px;
}
.BotUsername,
.ConnectButton,
.DisconnectButton{
  float:left;
}
#controlpanel,
.ControlPanel,
.Page,
.LogPage,
.ChatroomPage,
.Chatroom,
.ChatBody,
.ChatMembers,
.ChatIO,
.ChatInput,
.ChatMessageList,
.EmptyChatroomPage{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  height: auto;
}
.EmptyChatroomPage{
  background-color: #dce7dc;
  text-align: center;
  padding-top: 25px;
}
.JoinChatroomButton{
  font-size: 1.75em;
  border: 2px solid #38463b;
  background-color: #475c4d;
  border-radius: 20px;
  padding: 5px 20px;
  color: white;
  cursor: pointer;
}
.JoinChatroomButton:hover{
  background-color: #607465;
}
.ChatroomPage,
.EmptyChatroomPage,
.ChatroomPage a,
.ChatroomPage a:visited{
  color: #2c3635;
}
.ChatroomPage,
.EmptyChatroomPage,
.LogPage{
  top: 75px;
}
.LogPage{
  padding: 5px;
  overflow-y: auto;
}
.LogMessage{
  padding: 5px;
  border-bottom: 1px solid #DDDDDD;
  font-family: monospace;
  margin-bottom: 3px;
  background-color: white;
}
.ChatTabs{
  height: 30px;
  padding: 5px 10px;
  padding-bottom: 0px;
  background-color: #607465;
}
.ChatTab{
  float: left;
  margin-right: 4px;
}
.ChatTab .active,
.ChatTab a{
  display: block;
  text-decoration: none;
  line-height: 20px;
  padding: 5px 10px;
  background-color: #d0dbd0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.ChatTab .active{
  font-weight: bold;
}
.ChatTab .PartButton{
  border: 1px solid #cc0000;
  background-color: #e06666;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  padding: 1px 3px 1px 4px;
  margin-left: 5px;
  font-size: 8px;
}
.ChatTab .PartButton:hover{
  background-color: #cc0000;
  cursor: pointer;
}
.ChatTab a{
  padding-bottom: 4px;
  border-bottom: 1px solid #8ea491;
  cursor: pointer;
}
.ChatTab a:hover{
  background-color: #e0ebe0;
}

.Chatroom{
  top: 35px;
  background-color: #d0dbd0;
}
.ChatTitle{
  height: 44px;
}
.ChatTitle,
.ChatBody{
  margin-left: 10px;
}
.ChatBody{
  top: 50px;
}
.ChatIO{
  right: 150px;
  background-color: #dce7dc;
}
.ChatInput{
  top: auto;
  height: 50px;
  background-color: #d0dbd0;
}
.ChatInput form{
  margin: 10px 0 0 0;
  padding: 0 2px 0 0;
  position: absolute;
  left: 0;
  right: 0;
  width: auto;
  border: 1px solid #9eaea0;
  background-color: white;
}
.TextInput {
  margin: 0;
  width: 100%;
  border: 0;
  line-height: 25px;
  text-indent: 3px;
}
.ChatTopic, .ChatTitleInner{
  padding: 5px 3px;
}
.ChatTopic {
  background-color: #bbc6b9;
  border: 1px solid #9eaea0;
  position: relative;
  z-index: 1;
}
.ChatMessageList{
  top: 0;
  bottom: 50px;
  overflow-y: auto;
  border: 1px solid #9eaea0;
  border-top: 0;
}
.ChatMessageListOuter{
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
}
.ChatMessageListInner {
  display: table-row;
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}
.Messages{
  width: 100%;
  display: table-cell;
  vertical-align: bottom;
}
.ChatMembers{
  left: auto;
  width: 130px;
  overflow: auto;
  font-size: 0.85em;
  padding: 10px 10px 0 10px;
}
.ChatMembers h2{
  font-size: 1em;
  margin: 0;
  padding: 5px 10px;
  background-color: #bccbba;
}
.ChatMembers ul{
  list-style: none;
  margin: 0;
  padding: 10px 0 5px 0;
}
.ChatMember{
  padding: 0 5px 5px 10px;
}
.ChatMember a{
  text-decoration: none;
  display: block;
}
.ChatMember a:hover{
  text-decoration: underline;
}
.ChatMessage{
  padding: 2px;
}
.ChatMessage img{
  vertical-align: middle;
}
.ChatMessage a{
  font-weight: bold;
  text-decoration: none;
}
.ChatMessageList .Messages{

}
.ChatMessage div{
  display: table;
  box-sizing: border-box;
  zoom: 1;
}
.ChatMessage div .user{
  display: table-cell;
  white-space: nowrap;
  vertical-align: middle;
  padding-right: 1ex;
}
.ChatMessage .timestamp{
  font-size: 0.9em;
}
.ChatMessage div .user,
.ChatMessage .timestamp{
  padding-right: 0.5ex;
}
.ChatMessage .timestamp,
.ChatMessage div .text{
  display: table-cell;
  vertical-align: middle;
}
.ChatMessage .timestamp,
.ChatMessage .join .username,
.ChatMessage .join.self .text,
.ChatMessage .part .username,
.ChatMessage .part.self .text,
.ChatMessage .msg .username,
.ChatMessage .action .username,
.ChatMessage .kicked .username,
.ChatMessage .kicked .text,
.ChatMessage .kicked .by,
.ChatMessage .title .text,
.ChatMessage .title .by,
.ChatMessage .topic .text,
.ChatMessage .topic .by,
.ChatMessage .privchange{
  font-weight: bold;
}
.ChatMessage .join,
.ChatMessage .part,
.ChatMessage .timestamp{
  color: #88938d;
}
.ChatMessage .action,
.ChatMessage .privchange .pc{
  font-style: italic;
}
.ChatMessage .msg .username:before{
  content: "<";
}
.ChatMessage .msg .username:after{
  content: ">";
}
.ChatMessage .part .reason:before{
  content: "[";
}
.ChatMessage .part .reason:after{
  content: "]";
}
.ChatMessage .action .username:before{
  content: "* ";
}
.ChatMessage .join .username:before,
.ChatMessage .part .username:before,
.ChatMessage .kicked .username:before,
.ChatMessage .title .text:before,
.ChatMessage .topic .text:before,
.ChatMessage .privchange .username:before{
  content: "** ";
}
.ChatMessage .join.self .username:before,
.ChatMessage .part.self .username:before{
  content: "*** ";
}
.ChatMessage .join.self .text:after,
.ChatMessage .kicked .by:after,
.ChatMessage .privchange .by:after,
.ChatMessage .title .by:after,
.ChatMessage .topic .by:after{
  content: " *";
}
.ChatMessage .other-hl .username,
.ChatMessage .other-hl .text,
.ChatMessage .cmd-hl .username,
.ChatMessage .cmd-hl .text{
  background-color: #fafffa;
}
.ChatMessage .by{
  padding-left: 1ex;
}
.ChatMessage .self-hl .username{
    background-color: #eaefea;
}
.ConfigModule {
  margin: 20px;
  background-color: white;
}
.ConfigRow{
  padding: 10px 20px;
  border-top: 1px solid #DDDDDD;
  overflow: auto;
}
.ConfigRow label{
  display: block;
  float: left;
  font-weight: bold;
  width: 20%;
}
.ConfigRow .value{
  display:block;
  float: left;
}
.ConfigRow .EditButton{
  float: right;
}
.ConfigRow label .subtitle{
  font-weight: normal;
  display: block;
}
h1{
  margin: 20px;
}
h2{
  margin: 0 10px;
  padding: 10px 0;
}
.ConfigModule{
  position: relative;
}
.LogoutButton{
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
}
